.DS_Store

emacs.d/ac-dict
emacs.d/auto-save-list
#emacs.d/abbrev_defs
emacs.d/elpa
emacs.d/projectile-bookmarks.eld
emacs.d/eshell
emacs.d/backups
emacs.d/places
emacs.d/recentf
emacs.d/tramp
emacs.d/ido.last
emacs.d/.org-id-locations
emacs.d/.mc-lists.el
emacs.d/personal/private.el
emacs.d/var
*.elc
emacs.d/eshell
emacs.d/cider-history
emacs.d/.emacs.desktop
emacs.d/.emacs.desktop.lock
emacs.d/desktop
eshell/
